<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests to the index.php front controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
